body {
  background-color: hsla(172, 67%, 45%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  position:relative;

}

#title {
  font-family: 'Space Mono', monospace;
  font-size: 1.3rem;
  letter-spacing: 5px;
  color: hsl(183, 100%, 15%);
}

#title-half {
  display: block;
}

.title-container {
  position: absolute;
  top: 80px;
}

.main-container {
  display: flex;
  background-color: #fff;
  height: 500px;
  width: 900px;
  border-radius: 25px;
  margin-top: 50px;
  position: absolute;
  justify-content: space-around;
  align-items: center;
}

.tip-details {
  display: inline-flex;
  color: white;
  font-family: 'Space Mono', monospace;
  margin-top: 16px;
  margin-left: 15px;
}

.tip-details-one::after {
  content: "/ person";
  position: relative;
  top: 20px;
  right: 97px;
  font-size: .7rem;
  color: hsl(185, 41%, 84%);
}

.tip-details-two::after {
  content: "/ person";
  position: relative;
  top: 20px;
  left: -47px;
  font-size: .7rem;
  color: hsl(185, 41%, 84%);
}

.total-outputs {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-flex;
  margin-top: 10px;
  margin-right: 15px;
  color: hsl(172, 67%, 45%);
}

.right-main {
  height: 80%;
  width: 40%;
  background-color: hsl(183, 100%, 15%);
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 5px 0 5px;
}

.tip-amount-container {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

#reset-button {
  position: relative;
  width: 80%;
  height: 15%;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 35px;
  background-color: hsl(172, 67%, 45%);
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

#reset-button:hover {
  background-color: #FDFD96;
}

.left-main {
  height: 80%;
  width: 50%;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  text-align: left;
}

.bill-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 17%;
  align-items: center;
  background-color: hsl(189, 41%, 97%);
  margin-bottom: 10px;
}

.dollar-sign {
  font-size: 1.3rem;
  padding-left: 15px;
  font-family: 'Space Mono', monospace;
  position: absolute;
}

.bill-amount-input {
  height: 100%;
  background-color: hsl(189, 41%, 97%);
  text-align: end;
  border: none;
  padding-right: 10px;
  font-size: 1.3rem;
  width: 100%;
  font-family: 'Space Mono', monospace;
  border-radius: 4px;
  outline-color: hsl(172, 67%, 45%);
}

.section-tags {
  margin: 0;
  padding: 0 0 10px 7px;
  font-family: 'Space Mono', monospace;
  font-size: .9rem;
}

#tip-amount-container {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tip-btn {
  height: 35%;
  width: 30%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}


.tip-btn:hover {
  background-color: hsl(184, 14%, 56%);
}

.tip-other {
  height: 35%;
  width: 28%;
  background-color: white;
  color: white;
  display: flex;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: hsl(189, 41%, 97%);
  text-align: end;
  padding-right: 10px;
  font-size: 1.3rem;
  outline-color: hsl(172, 67%, 45%);
  color: black;
}

.clicked {
  background-color: hsl(172, 67%, 45%);
}

#no-zero {
  color: red;
}

.spacing-box {
  display: flex;
  justify-content: space-between;
}

#foot{
  position: absolute;
  bottom: 10px;
  margin: auto;
  display: flex;
}

/* media queries */
@media screen and (max-width: 1280px) {
  .main-container {
    height: 400px;
    width: 750px;
  }

  .title-container {
    top: 20px;
  }
}

@media screen and (max-width:800px) {
  .main-container {
    height: 600px;
    width: 80%;
    flex-direction: column;
    padding: 15px;
  }

  .left-main, .right-main {
    width: 88%;
  }

  .right-main {
    height: 45%;
  }

  .tip-details {
    font-size: .8rem;
  }

  #tip-amount-output {
    font-size: 1.3rem;
  }

  #total-bill-output {
    font-size: 1.3rem;
  }

  #tip-amount-container {
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .bill-amount {
    height: 10%;
  }

  .tip-other {
    width: 40%;
  }

  .tip-btn {
    width: 45%;
    margin-top: 8px;
  }

  .tip-details-one::after {
    right: 80px;
  }

  .tip-details-two::after {
    left: -45px;
  }

  #reset-button {
    height: 20%;
    bottom: -20px;
  }

  body {
    overflow: auto;
    height: 800px;
  }
}
